.container{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: repeat(3,80px);
    grid-gap: 6px;
    justify-content: center;
}
body{
    background-color:dodgerblue ;
    font-style: text stroke;
    margin: 40px;
    font-family: 'Fredoka', sans-serif;
}
.empty{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: #FAB201;
    font-size: 80px;
    font-weight: bolder;
    -webkit-text-stroke: 5px white;
    font-family: 'Fredoka', sans-serif;
}
.footer{
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
}